<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Chart Annotation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container-fluid py-4">
    <h1 class="text-center text-muted">Chart annotation</h1>

    <p class="bg-warning lead p-3 round">
      We received <code>>500</code> images for training the model from 37 projects! We're pausing the chart classification until further notice.

      You can view the submitted images at <a class="alert-link" href="gallery">Gallery</a>.
    </p>
    <div class="card-deck">
      <div class="card border-0">
        <div class="card-header bg-white d-flex justify-content-between">
          <h5 class="card-title my-0">Paste Chart image here</h5>
          <div class="d-flex align-items-center small">
          </div>
        </div><!-- .card-header -->
        <div class="card-body overflow-auto">
          <canvas class="shadow border-0" style="border:1px solid grey;" id="my_canvas" width="300" height="300"></canvas>
        </div><!-- .card-body -->
      </div><!-- .card -->
      <div class="card border-0">
        <div class="card-header bg-white d-flex justify-content-between">
          <h5 class="card-title my-0">Annotate the chart</h5>
          <div class="d-flex align-items-center small">
          </div>
        </div><!-- .card-header -->
        <div class="card-body">
          <form class="form-inline" id="imageMetaForm">
            <template>
              <datalist id="chartList">
                <% _.each(CHART_TYPES, function(chart) { %>
                <option value="<%=chart%>"><%= chart%></option>
                <%})%>
              </datalist>
            </template>
            <div class="form-group mr-sm-3">
              <select class="form-control" name="chartClass" id="chartClass">
                <template>
                  <% _.each(_.sortBy(CHART_TYPES), function(chart) { %>
                    <option value="<%=chart%>"><%= chart%></option>
                  <%})%>
                </template>
              </select>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div><!-- .card-body -->
      </div><!-- .card -->
    </div><!-- .card -->
    <p>
      For instructions, view the <a href="https://docs.google.com/spreadsheets/d/1lEB3cTDC0sASvZvdQTMRYzTndSrUtHN48ry6oG0MoGY/edit#gid=864195404" target="_blank" rel="noopener">spreadsheet</a>.

      Questions? Ask <a href="mailto:bhanu.kamapantula@gramener.com?subject=Design2Code%20annotation" rel="noopener" target="_blank">Bhanu</a> or <a href="mailto:jaidev.deshpande@gramener.com?subject=Design2Code%20annotation" rel="noopener" target="_blank">Jaidev</a>.
    </p>
  </div><!-- .container-fluid -->

  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <script src="js/training.js"></script>
</body>
</html>
