<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Chart Annotation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link href="node_modules/label-studio/build/static/css/main.css" rel="stylesheet">
</head>

<body>
  <div class="container-fluid py-4">
    <h1 class="text-center text-muted">Chart annotation</h1>

    <p class="bg-warning lead p-3 round">
      We received <code>>500</code> images for training the model from 37 projects! We're pausing the chart classification until further notice.

      You can view the submitted images at <a class="alert-link" href="gallery">Gallery</a>.
    </p>
    <div class="card-deck">
      <div class="card border-0">
        <div class="card-header bg-white d-flex justify-content-between">
          <h5 class="card-title my-0">Paste Chart image here</h5>
          <div class="d-flex align-items-center small">
          </div>
        </div><!-- .card-header -->
        <form id="chartForm">
          <input type="url" class="form-control" id="chartUrl">
          <button type="submit" class="btn btn-primary form-control">Submit</button>
        </form>
        <div class="card-body overflow-auto">
          <canvas class="shadow border-0" style="border:1px solid grey;" id="my_canvas" width="300" height="300"></canvas>
        </div><!-- .card-body -->
      </div><!-- .card -->
      <div class="card border-0">
        <div class="card-header bg-white d-flex justify-content-between">
          <h5 class="card-title my-0">Annotate the chart</h5>
          <div class="d-flex align-items-center small">
          </div>
        </div><!-- .card-header -->
        <div class="card-body">
          <form class="form-inline" id="imageMetaForm">
            <label for="chartType">What kind of a chart is this?</label>
            <template>
              <datalist id="chartList">
                <% _.each(CHART_TYPES, function(chart) { %>
                <option value="<%=chart%>"><%= chart%></option>
                <%})%>
              </datalist>
            </template>
            <div class="form-group mr-sm-3">
              <input class="form-control" type="text" list="chartList" name="chartClass" disabled>
            </div>
            <button class="btn btn-primary" type="submit" disabled>Submit</button>
          </form>
        </div><!-- .card-body -->
      </div><!-- .card -->
    </div><!-- .card -->
    <div id="label-studio"></div>
    <p>
      For instructions, view the <a href="https://docs.google.com/spreadsheets/d/1lEB3cTDC0sASvZvdQTMRYzTndSrUtHN48ry6oG0MoGY/edit#gid=864195404" target="_blank" rel="noopener">spreadsheet</a>.

      Questions? Ask Bhanu or Jaidev.
    </p>
  </div><!-- .container-fluid -->

  <script src="ui/jquery/dist/jquery.min.js"></script>
  <script src="ui/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="ui/lodash/lodash.min.js"></script>
  <script src="ui/g1/dist/g1.min.js"></script>
  <script src="node_modules/label-studio/build/static/js/main.js"></script>
  <script src="js/labelstudio.js"></script>
  <!-- Commonly used libraries:
  <script src="ui/d3v5/dist/d3.min.js"></script>
  <script src="ui/morphdom/dist/morphdom-umd.min.js"></script>
  <script src="ui/moment/min/moment-with-locales.min.js"></script>
  <script src="ui/daterangepicker/daterangepicker.js"></script>
  <script src="ui/leaflet/dist/leaflet.js"></script>
  <script src="ui/topojson/dist/topojson.min.js"></script>
  -->
  <script>
    var CLIPBOARD = new CLIPBOARD_CLASS("my_canvas", true);
    var CHART_TYPES = []

    /**
     * image pasting into canvas
     *
     * @param {string} canvas_id - canvas id
     * @param {boolean} autoresize - if canvas will be resized
     */
    function CLIPBOARD_CLASS(canvas_id, autoresize) {
      var _self = this;
      var canvas = document.getElementById(canvas_id);
      var ctx = document.getElementById(canvas_id).getContext("2d");

      //handlers
      document.addEventListener('paste', function (e) { _self.paste_auto(e); }, false);

      //on paste
      this.paste_auto = function (e) {
        if (e.clipboardData) {
          var items = e.clipboardData.items;
          if (!items) return;

          //access data directly
          var is_image = false;
          for (var i = 0; i < items.length; i++) {
            if (items[i].type.indexOf("image") !== -1) {
              //image
              var blob = items[i].getAsFile();
              var URLObj = window.URL || window.webkitURL;
              var source = URLObj.createObjectURL(blob);
              this.paste_createImage(source);
              is_image = true;
            }
          }
          if(is_image == true){
            e.preventDefault();
          }
        }
      };
      //draw pasted image to canvas
      this.paste_createImage = function (source) {
        var pastedImage = new Image();
        pastedImage.onload = function () {
          if(autoresize == true){
            //resize
            canvas.width = pastedImage.width;
            canvas.height = pastedImage.height;
          }
          else{
            //clear canvas
            ctx.clearRect(0, 0, canvas.width, canvas.height);
          }
          ctx.drawImage(pastedImage, 0, 0);
        };
        pastedImage.src = source;
      };
    }

  $('#imageMetaForm').on('submit', function(e) {
    e.preventDefault();
    let data = $(this).serializeArray()
    let imageEnc = document.getElementById('my_canvas').toDataURL()
    $.ajax({
      method: "POST", url: 'data',
      success: function() {
        location.reload()
      },
      data: {label: data[0].value, image: imageEnc}
    })
  })
  $(function() {
    fetch('uniq')
      .then(response => response.json())
      .then(function(data) {
        data = _.map(data, 'label')
        $.getJSON('chart_types.json').done(function(e) {
          CHART_TYPES = e
          $('body').template({CHART_TYPES: [...data, ...CHART_TYPES]})
        })
    })
  })
$('#chartForm').on('submit', function(e) {
  let $icon = $('<i class="fa fa-spinner fa-2x fa-fw align-middle"></i>').appendTo(this)
  e.preventDefault()
  let chart_url = $('#chartUrl').val()
  $.getJSON('screenshot?url=' + encodeURI(chart_url)).done(
    function(response) {
      var {annotation, meta} = response
      render_labelstudio(annotation, meta,
        "{{ handler.current_user.given_name }}", "{{ handler.current_user.family_name }}")
      $icon.fadeOut()
    }
  )
})
  </script>
</body>
</html>
